* {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.title {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    height: 120px;
    margin-bottom: 60px;
}

#green {
    background-color: mediumspringgreen;
}

#coral {
    background-color: lightcoral;
}

#skyblue {
    background-color: skyblue;
}

.price {
    font-weight: bold;
    color: blue;
}